
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body , html{
    font-family: 'Rubik', sans-serif;
    overflow-x: clip;
    width: 100%;
    /* overflow-y: auto; */
}
ul, li{
    display: block;
    padding-left: 0px;
    margin-left: 0px;
    padding-right:0px;
    margin-right: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    margin-top: 0px;
}

/*fonts*/
h1,h2,h3,h4,h5,h6{
    padding: 0px;
    margin: 0px;
}

/*fonts*/
h1{
    font-size: 60px;
    line-height: 61px;
}
h2, .h2{
    font-size: 36px;
    line-height: 43px;
}
h4{
    font-size: 24px;
    line-height: 28px;
}

.text-right{
    text-align: right;
}
p{
    font-size: 16px;
    line-height: 22px;
    margin: 0px;
    margin-bottom: 0px;
}
.bg-green{
    background-color: #43806c !important;
}
.bg-light-green{
    background-color:  rgba(67, 128, 108, 0.20)!important;
}
.bg-black{
    background-color: #212725 !important;
}
.bg-yellow{
    background-color: #F4C086 !important;
}
.bg-offwhite{
    background-color: #FAFAFA !important;
}
.bg-offwhite3{
    background-color: #F5F5F5 !important;
}
.bg-offwhite2{
    background-color: #EEEEEE !important;
}
.bg-offwhite3{
    background-color: #F7F7F7 !important;
}
.bg-lightOrange{
    background-color: #fae0c3 !important;
}

.d-none{
    display: none;
}
button, a{
    transition: all 0.4s !important;
    text-decoration: none;
}
a{
    color:  inherit !important;
    text-decoration: none !important;
}

button{
    border: none;
    background-color: transparent;
}
.fC-LightOrange{
    color: #F4C086 !important;
}
.fC-green{
    color: #43806c !important;
}

/* 9F9B95 */
.fc-grey{
    color: #6C757D !important;
}
.fc-Darkgreay{
    color: #212529 !important;
}
.card{
    border: 0px;
}

.p-rating-option-active .p-rating-icon {color:#F4C900 !important};
.form-control:focus{box-shadow: 0 0 0 0.25rem rgba(13,110,253, 0.0);}
.card-body, .card-footer, .card-header{padding: 0;margin: 0;background-color: transparent;border: 0;}

.btnGreen{width: 289px;height: 65px;color: #ffffff;text-align: center;line-height: 65px;padding: 0;border-radius: 32.5px;border: 0px;}
.btnGreen:hover{background-color: #212725;}
.btnGreen:focus, .btnGreen:active{box-shadow: none !important;background-color: #212725;}

.btnGreen1{width: 260px;height: 65px;color: #ffffff;text-align: center;line-height: 65px;padding: 0;border-radius: 32.5px;border: 0px;}
.btnGreen1:hover{background-color: #212725;}
.btnGreen1:focus, .btnGreen1:active{box-shadow: none !important;background-color: #212725;}

@media (max-width: 1200px){
    .home-bannerCon h1{
        font-size: 50px;
        line-height: 60px;
    }
    h2, .h2 {
        font-size: 30px;
        line-height: 40px;
    }
}
@media (max-width: 1024px){
    h1{
        font-size: 30px;
        line-height: 40px;
    }
}
@media (max-width: 991px){
}
@media (max-width: 767px){
    h2, .h2 {
        font-size: 27px;
        line-height: 34px;
    }
    h4 {
        font-size: 20px;
        line-height: 29px;
    }
}